.products-container{
    text-align: center;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
    box-shadow: 0 0 0.25rem rgb(165, 165, 165);
}

.products-item-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 560px;
    align-items: start;
    margin-left: 5rem;
}

.products-container img{
    position: relative;
    right: 6rem;
}