.home{
    border: 1px solid black;
    height: 600px;
    background : linear-gradient(45deg, rgb(202, 202, 202), rgb(224, 231, 247));
    display: grid;
    grid-template-columns: 1fr 3fr;
}

img{
    width: 250px;
    margin-left: 100px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 25px;
}

.text{
    margin-left: 100px;
    margin-top: 50px;
    font-size: xx-large;
    text-align: left;
}

.text2{
    position: absolute;
    margin-left: 100px;
    margin-top: 400px;
    font-size: x-large;
}